<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-3">
    <h1>All Mangas</h1>
    <%= link_to 'New Manga', new_manga_path, class: 'btn btn-primary' %>
  </div>
  <%= form_with url: mangas_path, method: :get, class:"d-flex gap-3 justify-content-center align-items-center mb-3", local: true do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search Mangas", class: "form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary h-50" %>
  <% end %>
  
  <div class="d-flex flex-wrap gap-5">
    <% @mangas.each do |manga| %>
      <div class:"card mb-4" style="max-width: 12rem;">
          <div class="border">
            <% if manga.cover_image.present? %>
              <%= image_tag Cloudinary::Utils.cloudinary_url(manga.cover_image), class: "card-img-top" %>
            <% else %>
              <%= image_tag 'https://res.cloudinary.com/dnwd10wxm/image/upload/v1722320407/sniexsvns7laufleyfor.jpg', class: "card-img-top" %>
            <% end %>
          </div>
          <div class="" style="margin:5px 5px">
              <h5 class="card-text"><%= link_to manga.title, manga_path(manga) %></h5>
              <p class="card-text" style="padding: 0px;margin-bottom:0px;"><strong>Author:</strong> <%= manga.author %></p>
              <p class="card-text" style="padding: 0px;margin-bottom:0px;"><small><strong>Published Date:</strong> <%= manga.published_date %></small></p>
          </div>
      </div>
    <% end %>
  </div>
</div>