<%= form_with(model: @manga, local: true, html: { multipart: true }) do |form| %>
  <% if @manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manga.errors.count, "error") %> prohibited this manga from being saved:</h2>
      <ul>
        <% @manga.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_select :published_date %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :categories %><br>
    <%= form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
