<!DOCTYPE html>
<html>
  <head>
    <title>MangaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "application", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
    *{
      padding:0;
      margin:0;
    }
    </style>
  </head>

  <body>
    <header>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand text-white">Manga Aggregate</a>
      <div class="d-flex">
      <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path, method: :get, style: "color: white; text-decoration: none;font-weight:bold;margin-right:10px;" %> |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, style: "color: white; text-decoration: none;font-weight:bold;margin-left:10px;" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, style: "color: white; text-decoration: none;font-weight:bold;margin-right:10px;" %> |
          <%= link_to 'Sign Up', new_user_registration_path, style: "color: white; text-decoration: none;font-weight:bold;margin-left:10px;" %>
        <% end %>
      </div>
      </div>
    </nav>
    </header>
    <p class="notice fs-6" style="text-align:center;margin:0px;padding:0px;"><%= notice %></p>    
    <p class="alert fs-6" style="text-align:center;margin:0px;padding:0px;"><%= alert %></p>
    <%= yield %>
    <script>
      document.addEventListener('turbo:load', () => {
        Turbo.session.drive = false;
      });
    </script>

  </body>
</html>
